{% extends 'myapp/base.html' %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img width="100" src="{{book.book_image.url}}" /> <br />
    </div>
    <div class="col-md-6">
      <h2>{{book.name}}</h2>
      <br />
      <h4>{{book.desc}}</h4>
      <br />
      <h6>{{book.price}}</h6>
      <br />

      <a class="btn btn-warning" href="{% url 'myapp:update' book.id %}"
        >Update</a
      >
      <a class="btn btn-danger" href="{% url 'myapp:delete' book.id %}"
        >Delete</a
      >
    </div>
  </div>
</div>
{% endblock %}
